@model IEnumerable<Day02.Task.Attributes.Models.User>

@{
    ViewBag.Title = "Index";
}

<h3>Index</h3>
<p>
    @Html.ActionLink("Add new user", "Add")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Remove", new { id = item.Id })
            </td>
        </tr>
    }
</table>
